* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}

.jumbo {
    background: url("../photo-1547394765-185e1e68f34e.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100vh;
}

.navbar {
    background-color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-1>h1 {
    font-size: 3rem;
}

.navbar-2 a {
    text-decoration: none;
    padding: 2rem;
    font-size: 1.9rem;
    color: black;
}

.navbar-3 i {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #fff;

}

.soft {
    position: absolute;
    color: white;
    top: 35%;
    left: 10%;
}

.soft>h1 {
    font-size: 4rem;
}

.soft>p {
    font-size: 1.5rem;
    max-width: 45vw;

}

.btn {
    text-align: center;
    padding: 0.6rem 0.9rem;
    margin: 1rem 1rem;
    border: none;
}

.btn-1 {
    background-color: lightcoral;

}

.btn-2 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

@media(max-width:1100px) {
    .nvabar-3 i {
        display: inline;
        padding: 0px;


    }

    .navbar-2 a {
        display: inline;
        font-size: 0.8rem;
        padding: 0;
    }

    .navbar-1>h1 {
        display: inline;
        font-size: 1rem;
        text-align: center;
    }

    .soft>p {
        display: inline;
        max-width: 10vh;
        font-size: 1rem;
        text-align: center;
        display: none;
    }

    .soft>h1 {
        display: block;
        font-size: 4rem;
        max-width: 30vh;
        text-align: center;
    }

    .btn {

        font-size: 1rem;
    }
}

.jumbo-2 {
    height: 100vh;
    background-color: grey;
}

.bus {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 20rem;
}

.bus img {
    position: relative;
    height: 55vh;
    width: 30vw;
    top: 1vh;
    left: 20vh;
}

.bus-1>h1 {
    font-size: 2.9rem;
}

.bus-1 p {
    max-width: 30vw;
}

.bus-1 .btn {
    text-align: center;
    padding: 0.6rem 0.9rem;
    margin: 1rem 1rem;
    border: none;
    background-color: lightcoral;
}


.bus-3 {
    display: flex;
}

.bus-3 p i {
    color: coral;
}

.bus-3>p {
    padding: 1rem;
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 5px;
}

.bus-4 {
    display: flex;
    color: black;
    background-color: gainsboro;
    margin: 2vh 10vw;
    border-radius: 1rem;


}

.bus-4 p {
    position: relative;
    top: 4rem;
    left: 6rem;
}

.bus-4>h1 {
    font-size: 2.5rem;
    max-width: 40vw;
    padding: 5rem;

}

.bus-4 img {
    height: 40vh;
    width: 20vw;
    position: relative;
    bottom: 2rem;
    border-radius: 1rem;
}

@media(max-width:1100px) {
    .bus img {
        display: none;

    }

    .bus h1 {
        display: block;
        font-size: 2rem;
        max-width: 10vw;
    }

    .bus p {
        max-width: 20rvw;
        text-align: center;

    }

    .bus-1 {
        text-align: center;
    }

    .bus-1 .btn {
        display: none;
    }

    .bus-3 p i {
        display: block;
    }

    .bus-3 p {
        max-width: 20vw;
    }

    .bus-4 {
        background-color: none;
    }

    .bus-4 h1 {
        font-size: 1rem;
        display: block;
        text-align: center;
        position: relative;
        left: 0;

    }

    .bus-4 img {
        display: none;
    }
}

.bus-5 {
    height: 100vh;
    background-color: grey;
    /* border: 2px solid red; */
}

.bus-52>h1 {
    font-size: 3rem;
}

.bus-52>p {
    font-size: 1.5rem;
    padding: 1rem;
}

.bus-51 {
    border: 2px solid black;
    color: black;
    background-color: whitesmoke;
    padding: 10vh;
    position: relative;
    top: 10vh;
    bottom: 10vh;
    height: 80vh;
}

.bus-53 {
    position: relative;
    top: 20vh;
}

.bus-531 {
    display: flex;
    justify-content: space-evenly;
    padding: 3vh;
}

@media(max-width:1100px) {
    .bus-52>h1 {
        font-size: 1rem;
        display: block;
    }

    .bus-52>p {
        font-size: 0.5rem;
        display: block;
        max-width: 60vw;
        max-height: 50vh;
        overflow: hidden;
    }

    .bus-531 p {
        display: inline-block;
        max-width: 10vw;
    }

}

.core {
    background-color: grey;
    height: 100vh;

}

.core>h1 {
    font-size: 3rem;
    text-align: center;
    position: relative;
    top: 1rem;
    padding: 5rem;
}

.core1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.core1img {
    height: 40vh;
    width: 20vw;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.core11ph {
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
    top: -20px;
    text-align: center;
}

@media(max-width:800px) {
    .core1img {
        display: none;
    }

    .core11ph {
        padding: 0;
        max-width: 30vw;
        background-color: none;
        font-size: 1rem;
        gap: 0;
    }
}